{% extends 'admin/layout.html.twig' %}

{% block main %}
    <main class="container py-5">
        <h1 class="mb-4">Détails d'un utilisateur</h1>
        <article>
            <dl>
                <dt>
                    Email
                </dt>
                <dd>
                    mari@test.fr
                </dd>
                <dt>
                    Role
                </dt>
                <dd>
                    USER
                </dd>
            </dl>
        </article>
    </main>
{% endblock %}