{% extends 'front/layout.html.twig' %}

{% block main %}
    <main class="container py-5">
        <form action="index.php?route=check-inscription" method="post">
            <input type="hidden" id="csrf_token" name="csrf_token" value="" />
            <fieldset>
                <label for="email" class="form-label">
                    Email
                </label>
                <input type="email" name="email" id="email" required class="form-control"/>
            </fieldset>
            <fieldset>
                <label for="password" class="form-label">
                    Mot de passe
                </label>
                <input type="password" name="password" id="password" required class="form-control"/>
            </fieldset>
            <fieldset>
                <label for="confirm_password" class="form-label">
                    Confirmer le mot de passe
                </label>
                <input type="password" name="confirm_password" id="confirm_password" required class="form-control"/>
            </fieldset>
            <fieldset class="mt-3">
                <button type="submit" class="btn btn-primary">Créer un compte</button>
            </fieldset>
        </form>
    </main>
{% endblock %}